*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
}

body{
    height:100vh;
    padding-top:3em;
    font-family:'Kumbh Sans', sans-serif;
    font-weight:400;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;    
    color:hsl(240, 6%, 50%)
}

.container{
 height:auto;
 max-width:800px;
 padding-bottom: 2rem;;
 border-radius: 25px;
 background-color: white;
 box-shadow:  0 5px 5px 10px rgba(0, 0, 0, 0.1);

}

/* Mobile section */
.mobile{
    justify-content:center;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center; 
}
.top-img{
    position:absolute;
    top:3em;
    transform: translate(-4.8%,-74%);  
}
.bg-img{
    position:relative;
    top: 0px;    
}
/* Desktop images */
.box-img{
    position:absolute;
    
    transform: translate(-6.5rem,3.2rem);
    z-index: 1;
}
.desktop-images{
 display:flex;
 align-items: start;
 overflow: hidden;
}
.desktop-images img{
    width:100%;
    height:auto;
    max-width:25rem;
    transform: translate(-4rem);
}
/* Accordion section */
.section-accordion{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    padding-bottom:1rem;
}
.title{
    margin: 1rem 0rem;
    color:hsl(237, 12%, 33%)
    
}
.faq{
    width:90%;
    max-width: 300px;
    margin-top:1.5rem;
    padding-bottom:1rem;
    font-size: 12px;
    border-bottom: 2px solid  hsl(240, 5%, 91%);
    cursor:pointer;
}
.questions{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.answers {
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.8s ease ;
}

.answers p {
    padding-top: 1rem;
    line-height: 1.5;
}

.faq.active .answers{
    max-height:90px;
}
.faq.active .questions{
    color: hsl(237, 12%, 33%)
}
.questions:hover {
     color: hsl(14, 88%, 65%);
}



.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}
/* Media queries */
@media screen and (max-width:768px){ 
    .container{
        width:85%;
        
    }
    .desktop-images{
        display:none;
    }
    .box-img{
        display:none;
    }
}
@media screen and (min-width:768px){ 
    .container{
        width:85%;
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    .mobile{
        display:none;
    }
    .faq{
        margin-right: 5rem;
    }
    .desktop-images{
        width:auto;
    }
    
}

@media screen and (min-width:780px){ 
    .container{
        width:100%;
        height:83%;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -621px -308px;
        background-size:auto;
    
        /* background-repeat: no-repeat; */
    }
    .section-accordion{
        align-items:start;
    }
}

@media  screen and (min-width:780px){
    .container{
        width:100%;
        height:auto;
        justify-content:start;
    }
}

