*{
    margin:0;
    box-sizing: border-box;
    font-size: 12px;
}

body{
    height:100vh;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    display:flex;
    justify-content:center;
    align-items:center;    
}

.container{
 height:65%;
 border-radius: 25px;
 background-color: white;
 box-shadow:  0 10px 5px 10px rgba(0, 0, 0, 0.1);
 
}

@media screen and (max-width:600px){ 
    .container{
        width:90%;
    }
}
@media screen and (min-width:600px){ 
    .container{
        width:85%;
    }
}

@media screen and (min-width:768px){ 
    .container{
        width:80%;
    }
}
@media  screen and (min-width:992px){
    .container{
        width:75%;
    }
}

@media  screen and (min-width:1200px){
    .container{
        width:60%;
    }
}
